{% extends 'base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <img src="{{ event.image.url }}" class="img-fluid mb-3" alt="{{ event.title }}">
        <h2>{{ event.title }}</h2>
        <p><strong>Description:</strong> {{ event.description }}</p>
        <p><strong>Date:</strong> {{ event.date }}</p>
        <p><strong>Time:</strong> {{ event.time }}</p>
        <p><strong>Location:</strong> {{ event.location }}</p>
        <p><strong>Category:</strong> {{ event.category }}</p>
        <p><strong>Organizer:</strong> {{ event.organizer.get_full_name }}</p>
    </div>
    <div class="col-md-4">
        {% if user.is_authenticated and user not in event.rsvp_users.all %}
            <a href="{% url 'rsvp_event' event.pk %}" class="btn btn-success">RSVP to Event</a>
        {% elif user.is_authenticated %}
            <p>You have already RSVP'd to this event.</p>
        {% else %}
            <p>Please <a href="{% url 'login' %}">login</a> to RSVP.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
